:root {
  --main-color: #8e44ad;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

.section {
  padding: 4rem 10%;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  flex: 1 1 35rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 25rem;
  text-align: center;
}

.about .content h3 {
  font-size: 2.4rem;
  color: var(--black);
}

.about .content p {
  font-size: 0.95rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.about .content .icons-container {
  margin-top: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-end;
}

.about .content .icons-container .icons {
  background: var(--light-bg);
  padding: 2rem;
  flex: 1 1 16rem;
}

.about .content .icons-container .icons i {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.about .content .icons-container .icons span {
  font-size: 0.9rem;
  color: var(--light-black);
  display: block;
}
